.ingredientCard {
  width: 100%;
  background-color: rgb(6, 178, 9);
  color: white;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.iconOverrides {
  margin-right: 8px;
}
