.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  background-color: white;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px); /* Adjusted to match new header height */
  background-color: white;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  color: #333;
  padding: 20px;
}
