.container {
  width: 100%;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.instructionIngredientSection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.instructionListItem {
  margin-bottom: 24px;
}

.ingredientCard {
  width: 100%;
  background-color: rgb(6, 178, 9);
  color: white;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.headerImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.splitContainer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.ingredientsSection {
  padding: 32px;
  border-radius: 8px;
  background-color: whitesmoke;
  // box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 32px;
}

.icon {
  margin-right: 8px;
}

.header {
  margin-bottom: 16px;
}
